body{
	flex-direction: column;
	margin: 0;
	background-image: url(../image/top2.jpg);
	background-position: center;
	background-size: cover;
	background-blend-mode: lighten;}

*{
	font-family: monospace;
	color: #cccccc;
}

a .fas:hover{
	color: #03a9f4;
}
a .far:active{
	color: #cccccc;
	transform: scale(.9);
}

.container{
	width: 70%;
	padding: 1rem;
	background-image: linear-gradient(#9c1111 1%, #242424 50%);
}
/*....................................*/

.disp-center{
	display: flex;
	align-items: center;
}

/*............top-bar...........*/

.top-bar{
	align-items: flex-start;
	flex-direction: row;
	height: 16vh;
}
.fa-arrow-alt-circle-left, .fa-arrow-alt-circle-right, .fa-home{
	font-size: 1.6rem;
	margin-right: .8rem;
	color: white;
}
.fa-home{
	position: absolute;
	right: 18%;
}

/*......search-bar......*/

.fa-search{
	float: left;
}
.search-bar{
	background-color: white;
	width: 180px;
	height: 1.6rem;
	padding: 0px 5px;
	border-radius: .8rem;

	flex-direction: row;
}
.search-bar input{
	border: none;
	outline: none;
	margin-left: 3px;
}

/*.........playlist-header..........*/

.header-playlist{
	font-size: 4.4rem;
}
/*...............playlist-play-button.............*/

.play-button{
	height: 30px;
	width: 100px;
	border-radius: 30px;
	color: white;
	background-color: #29b829;
	justify-content: center;
	margin: 0px 0px 22px 0px;}

.play-button a{
	text-decoration: none;

}
.play-button:hover{
	transform: scale(1.09);
	background-color: #75bd6d;
	color: white;
	font-size: 1.09rem;
}
.play-button:active{
	transform: scale(1.02)
}

/*.............switcher............................*/

.switcher{
	margin-top: 20px;
}

.switcher a{
	margin-right: 20px;
	text-decoration: none;
	font-weight: 900;
	color: #aba9a9;
}
.switcher a:hover{
	color: white;
	transition: .2s;
}

/*..........................playlist-table...................*/

.table-box{
	overflow: scroll;
}

.playlist-table{
	border-collapse: collapse;
	font-size: .9rem;
	width: 100%;
	margin: 0px 1.04rem;
}
.playlist-table tbody .fa-play-circle{
	margin-left: 7px;
}
.playlist-table thead tr{
	text-align: left;
	font-size: 1rem;
}

.playlist-table th, .playlist-table td{
	padding: 12px 15px
}

.playlist-table tbody tr{
	border-bottom: 1px solid #dddd;
	transition: .3s;
	font-size: 1.2rem;
	font-weight: 700;
}

.playlist-table .fa-play-circle{
	font-size: 1.3rem;
	color: transparent;
}


.playlist-table tr:hover .fa-play-circle{
	color: white;
}

tbody tr:hover { 
	background: linear-gradient(45deg, #03a9f4, rgba(3,169,244,0.5));
	transform: scale(1.02);
}

/*.............media-player-box........*/


#media-box{
	height: 83px;
	width: 100%;
	background-color: #9c1111;
	position: sticky;
	bottom: 0;
	flex-direction: column;
	justify-content: center;

}

.media-controller{
	margin: -12px 0px 4px 0px;
	width: 190px;
	justify-content: space-between;
	height: 2.1rem;
}
.media-controller a{
	color: white;
}
.time-box{
	font-weight: 800;
	font-size: 1.2rem;
	margin-top: 7px;
	width: 30%;
	flex-direction: row;
}
.time-bar{
	border: 2px white solid;
	width: 100%;
	margin: 0px 8px;
}
.media-controller .fa-play-circle{
	font-size: 2rem;
}
.media-controller .fa-play-circle:hover{
	color: #03a9f4; 
}

.side-media-controller{
	margin-left: 30px;
	position: absolute;
	right: 9%;
	top: 30px;
	font-size: 1.2rem;
	justify-content: space-between;
	width: 120px;
}

/*...............................................*/

.border-bott{
	border-bottom: 1px #dddd solid;
	margin-top: 27px;
}

.style-2{
	font-size: 1.2rem;
	font-weight: 700;
}
.size-header{
	font-weight: 900;
}